{% extends 'accounts/index.html' %}
{% block content %}
    <button type="button" >
        <a href="{% url 'ticket'  %}">Demander une critique</a>
    </button>
    <button type="button" >
        <a href="{% url 'review_ticket'  %}">Créer une critique</a>
    </button>


    {{ flux.as_p }}
    {% csrf_token %}
    {{ reviewed.as_p }}
    {% csrf_token %}
    {% for post in flux %}
        <div>
        {% if post.type == "review" %}
            {% if post.ticket.user == user.get_username %}
            <p> Vous avez publié une critique  {{ post.time_created }}</p>
            {% else %}
                <p>{{ post.user }} a publié une critique  {{ post.time_created }}</p>
            {% endif %}
            <p>{{ post.rating }}  -  {{ post.headline }}</p>
            <p>{{ post.body }}</p>
            {% if post.ticket %}
                <div>
                    {% if post.ticket.user.username == user.get_username %}
                        <p> Vous avez publié un ticket  {{ post.ticket.time_created }}</p>
                    {% else %}
                        <p>{{ post.ticket.user }} a publié un ticket  {{ post.ticket.time_created }}</p>
                    {% endif %}
                    <p>{{ post.ticket.title }}</p>
                    <p>{{ post.ticket.description }}</p>
                    {% if post.ticket.image %}
                        <img src={{post.ticket.image.url}}>
                    {% endif %}
                    {% if not post.ticket in reviewed %}
                        <p>
                            <button type="button" >
                                <a href="{% url 'review_to' ticket_id=post.ticket.id %}">Créer une critique</a>
                            </button>
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            {% if post.user.username == user.get_username %}
                <p> Vous avez publié un ticket  {{ post.time_created }}</p>
            {% else %}
                <p>{{ post.user }}  a demandé un ticket  {{ post.time_created }}</p>
            {% endif %}
            <p>{{ post.title }}</p>
            <p>{{ post.description }}</p>
            {% if post.image %}
                <img src={{post.image.url}}>
            {% endif %}
            {% if not post in reviewed %}
                <p>
                    <button type="button" >
                        <a href="{% url 'review_to' ticket_id=post.id %}">Créer une critique</a>
                    </button>
                </p>
            {% endif %}
        {% endif %}
        </div>
    {% endfor %}


{% endblock content %}