{% extends 'accounts/index.html' %}
{% block content %}
    {{ ticket.as_p }}
    {% csrf_token %}
    <div id="review-page-container">
        {% if ticket %}
            <div id="ticket-area">
                <p> Vous êtes en train de poster en réponse à</p>
                <div class="ticket">
                    <div class="user-date">
                        {% if ticket.user == user.get_username %}
                            <p> Vous avez publié un ticket</p>
                        {% else %}
                            <p>{{ ticket.user }}  a demandé un ticket</p>
                        {% endif %}
                            <p>{{ ticket.time_created }}</p>
                    </div>
                    <p>{{ ticket.title }}</p>
                    <p>{{ ticket.description }}</p>
                    {% if ticket.image %}
                        <img src={{ticket.image.url}}>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div id="review-area">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.ticket_title %}
                    <div id="sub_ticket_area">
                        <p> Livre/Article </p>
                        <p>
                            {{ form.ticket_title.errors }}
                            <label id="{{ form.ticket_title.id_for_label }}">Titre</label>
                            {{ form.ticket_title }}
                        </p>
                        <p>
                            {{ form.ticket_description.errors }}
                            <label id="{{ form.ticket_description.id_for_label }}">Description</label>
                            {{ form.ticket_description }}
                        </p>
                        <p>
                            {{ form.ticket_image.errors }}
                            <label id="{{ form.ticket_image.id_for_label }}">Image</label>
                            {{ form.ticket_image }}
                        </p>
                    </div>
                {% endif %}
                    <div id="sub_review_area">
                        <p>Critique</p>
                        <p>
                            {{ form.headline.errors }}
                            <label for="{{ form.headline.id_for_label }}">En-Tête</label>
                            {{ form.headline }}
                        </p>
                        <p>
                            {{ form.rating.errors }}
                            <label for="{{ form.rating.id_for_label }}">Note</label>
                            {{ form.rating }}
                        </p>
                        <p>
                            {{ form.body.errors }}
                            <label for="{{ form.body.id_for_label }}">Commentaire</label>
                            {{ form.body }}
                        </p>
                        <button type="submit" >Envoyer</button>
                    </div>
            </form>
        </div>
    </div>
{% endblock content %}